
/* Font RijksoverheidSansText */
@font-face {
    font-family: 'RO-Sans-Text';
    src: url('fonts/rijksoverheidsanstext-regular_2_0.eot');
    src: url('fonts/rijksoverheidsanstext-regular_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsanstext-regular_2_0.woff') format('woff'),
         url('fonts/rijksoverheidsanstext-regular_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidsanstext-regular_2_0.svg#RijksoverheidSansTextRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RO-Sans-Text';
    src: url('fonts/rijksoverheidsanstext-italic_2_0.eot');
    src: url('fonts/rijksoverheidsanstext-italic_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsanstext-italic_2_0.woff') format('woff'),
         url('fonts/rijksoverheidsanstext-italic_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidsanstext-italic_2_0.svg#RijksoverheidSansTextItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'RO-Sans-Text';
    src: url('fonts/rijksoverheidsanstext-bold_2_0.eot');
    src: url('fonts/rijksoverheidsanstext-bold_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsanstext-bold_2_0.woff') format('woff'),
         url('fonts/rijksoverheidsanstext-bold_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidsanstext-bold_2_0.svg#RijksoverheidSansTextBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RO-Sans-Text';
    src: url('fonts/rijksoverheidsanstext-bolditalic_2_0.eot');
    src: url('fonts/rijksoverheidsanstext-bolditalic_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsanstext-bolditalic_2_0.woff') format('woff'),
         url('fonts/rijksoverheidsanstext-bolditalic_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidsanstext-bolditalic_2_0.svg#RijksoverheidSansTextBdIt') format('svg');
    font-weight: bold;
    font-style: italic;
}
/* Font RijksoverheidSansHeading */
@font-face {
    font-family: 'RO-Sans-Heading';
    src: url('fonts/rijksoverheidsansheading-regular_2_0.eot');
    src: url('fonts/rijksoverheidsansheading-regular_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsansheading-regular_2_0.woff') format('woff'),
         url('fonts/rijksoverheidsansheading-regular_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidsansheading-regular_2_0.svg#RijksoverheidSansHeadingRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RO-Sans-Heading';
    src: url('fonts/rijksoverheidsansheading-italic_2_0.eot');
    src: url('fonts/rijksoverheidsansheading-italic_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsansheading-italic_2_0.woff') format('woff'),
         url('fonts/rijksoverheidsansheading-italic_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidsansheading-italic_2_0.svg#RijksoverheidSansHeadingIt') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'RO-Sans-Heading';
    src: url('fonts/rijksoverheidsansheading-bold_2_0.eot');
    src: url('fonts/rijksoverheidsansheading-bold_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsansheading-bold_2_0.woff') format('woff'),
         url('fonts/rijksoverheidsansheading-bold_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidsansheading-bold_2_0.svg#RijksoverheidSansHeadingBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RO-Sans-Heading';
    src: url('fonts/rijksoverheidsansheading-bolditalic_2_0.eot');
    src: url('fonts/rijksoverheidsansheading-bolditalic_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsansheading-bolditalic_2_0.woff') format('woff'),
         url('fonts/rijksoverheidsansheading-bolditalic_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidsansheading-bolditalic_2_0.svg#RijksoverheidSansHeadingBdIt') format('svg');
    font-weight: bold;
    font-style: italic;
}
/* Font RijksoverheidSerif */
@font-face {
    font-family: 'RO-Serif';
    src: url('fonts/rijksoverheidserif-regular_2_0.eot');
    src: url('fonts/rijksoverheidserif-regular_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidserif-regular_2_0.woff') format('woff'),
         url('fonts/rijksoverheidserif-regular_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidserif-regular_2_0.svg#RijksoverheidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RO-Serif';
    src: url('fonts/rijksoverheidserif-italic_2_0.eot');
    src: url('fonts/rijksoverheidserif-italic_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidserif-italic_2_0.woff') format('woff'),
         url('fonts/rijksoverheidserif-italic_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidserif-italic_2_0.svg#RijksoverheidSerifItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'RO-Serif';
    src: url('fonts/rijksoverheidserif-bold_2_0.eot');
    src: url('fonts/rijksoverheidserif-bold_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidserif-bold_2_0.woff') format('woff'),
         url('fonts/rijksoverheidserif-bold_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidserif-bold_2_0.svg#RijksoverheidSerifBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RO-Serif';
    src: url('fonts/rijksoverheidserif-bolditalic_2_0.eot');
    src: url('fonts/rijksoverheidserif-bolditalic_2_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidserif-bolditalic_2_0.woff') format('woff'),
         url('fonts/rijksoverheidserif-bolditalic_2_0.ttf') format('truetype'),
         url('fonts/rijksoverheidserif-bolditalic_2_0.svg#RijksoverheidSerifBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
/* Font Rijksoverheid Sans linear figures */
@font-face {
    font-family: 'RO-Sans-lf';
    src: url('fonts/rijksoverheidsanslf-regular.eot');
    src: url('fonts/rijksoverheidsanslf-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsanslf-regular.woff') format('woff'),
         url('fonts/rijksoverheidsanslf-regular.ttf') format('truetype'),
         url('fonts/rijksoverheidsanslf-regular.svg#rijksoverheid_sanslfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RO-Sans-lf';
    src: url('fonts/rijksoverheidsanslf-italic.eot');
    src: url('fonts/rijksoverheidsanslf-italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsanslf-italic.woff') format('woff'),
         url('fonts/rijksoverheidsanslf-italic.ttf') format('truetype'),
         url('fonts/rijksoverheidsanslf-italic.svg#rijksoverheid_sanslfitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'RO-Sans-lf';
    src: url('fonts/rijksoverheidsanslf-bold.eot');
    src: url('fonts/rijksoverheidsanslf-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsanslf-bold.woff') format('woff'),
         url('fonts/rijksoverheidsanslf-bold.ttf') format('truetype'),
         url('fonts/rijksoverheidsanslf-bold.svg#rijksoverheid_sanslfbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RO-Sans-lf';
    src: url('fonts/rijksoverheidsanslf-bolditalic.eot');
    src: url('fonts/rijksoverheidsanslf-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/rijksoverheidsanslf-bolditalic.woff') format('woff'),
         url('fonts/rijksoverheidsanslf-bolditalic.ttf') format('truetype'),
         url('fonts/rijksoverheidsanslf-bolditalic.svg#rijksoverheid_sanslfBdIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

p {line-height:1.4em}

* {
  font-family: 'RO-Sans-Text', Arial, Sans-Serif;
  -webkit-text-stroke: 0.2px;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  font-family:'RO-Sans-Heading',Arial, Sans-Serif;
}

