.splash {
  background: rgb(80, 34, 99);
  background: linear-gradient(top, rgb(64,35,98) 0%, rgb(106,34,99) 100%);
  background: -o-linear-gradient(top, rgb(64,35,98) 0%, rgb(106,34,99) 100%);
  background: -moz-linear-gradient(top, rgb(64,35,98) 0%, rgb(106,34,99) 100%);
  background: -webkit-linear-gradient(top, rgb(64,35,98) 0%, rgb(106,34,99) 100%);
  background: -ms-linear-gradient(top, rgb(64,35,98) 0%, rgb(106,34,99) 100%);
}