@def cellTableColorSelected #FFF899;
@def cellTableColorBorder #B7C5C5;

.cellTableWidget {
  
}

.cellTableFirstColumn {
  
}

.cellTableLastColumn {
  
}

.cellTableFooter {
}

.cellTableHeader {
}

.cellTableCell {
	padding: 2px;
	margin: 1px 0;
}

.cellTableFirstColumnFooter {
}

.cellTableFirstColumnHeader {
}

.cellTableLastColumnFooter {
  
}

.cellTableLastColumnHeader {
  
}

.cellTableSortableHeader {
  cursor: pointer;
}

.cellTableSortableHeader:hover {
}

.cellTableSortedHeaderAscending {
}

.cellTableSortedHeaderDescending {
}

.cellTableEvenRow {
  
}

.cellTableEvenRowCell {
  /* border-bottom: 1px solid cellTableColorBorder; */
}

.cellTableOddRow {
  /* border-bottom-color: cellTableColorBorder; */
}

.cellTableOddRowCell {
  /* border-bottom: 1px solid cellTableColorBorder; */
}

.cellTableHoveredRow {
  background: cellTableColorSelected;
}

.cellTableHoveredRowCell {
  
}

.cellTableKeyboardSelectedRow {
  background: cellTableColorSelected;
}

.cellTableKeyboardSelectedRowCell {
  
}

.cellTableSelectedRow {
  background: cellTableColorSelected;
}

.cellTableSelectedRowCell {
}

.cellTableKeyboardSelectedCell {
}

.cellTableLoading {
}

/* custom style for radio button */
.cellTableCell input[type="radio"] + label {
  float: left;
  margin-left: 2px;
}
