@def cellTableColorSelected #FFF899;
@def cellTableColorBorder #B7C5C5;

.cellTableWidget {
  
}

.cellTableFirstColumn {
  
}

.cellTableLastColumn {
  
}

.cellTableFooter {
}

.cellTableHeader {
}

.cellTableCell {
}

.cellTableFirstColumnFooter {
}

.cellTableFirstColumnHeader {
}

.cellTableLastColumnFooter {
  
}

.cellTableLastColumnHeader {
  
}

.cellTableSortableHeader {
  cursor: pointer;
}

.cellTableSortableHeader:hover {
}

.cellTableSortedHeaderAscending {
}

.cellTableSortedHeaderDescending {
}

.cellTableEvenRow {
}

.cellTableEvenRowCell {
  padding-bottom: 9px;
  vertical-align: top
}

.cellTableOddRow {
}

.cellTableOddRowCell {
  padding-bottom: 9px;
  vertical-align: top
}

.cellTableHoveredRow {
  background: cellTableColorSelected;
}

.cellTableHoveredRowCell {
  
}

.cellTableKeyboardSelectedRow {
}

.cellTableKeyboardSelectedRowCell {
  
}

.cellTableSelectedRow {
  background-color: cellTableColorSelected;
}

.cellTableSelectedRowCell {
}

.cellTableKeyboardSelectedCell {
}

.cellTableLoading {
}

.cellTableWidget input {
	width: 138px;
}